In [3]:
class Table:
    def __getitem__(self, args):
        print(repr(args))
        
users = Table()

users[1:3]

slice(1, 3, None)

In [9]:
users['name':'==','fred', 'age':'>':3]

(slice('name', '==', None), 'fred', slice('age', '>', 3))

In [11]:
users = Table(name=text, age=number)

# rearrange terms - reuse a where clause or part of one in many queries
# pythonic syntax

# create read update delete
"insert into users (name, age) values ('fred', 5);"
users.new(name='fred', age=5)

# read 
users.where("name = 'fred'")
users.where("age > 5").names

# update
users['fred'] = 

# delete

SyntaxError: invalid syntax (<ipython-input-11-1697c71fa5e0>, line 15)

In [ ]:
table('')

```
SELECT 
    employee.id,
    employee.first_name,
    employee.last_name,
    SUM(DATEDIFF("SECOND", call.start_time, call.end_time)) AS call_duration_sum
FROM call
INNER JOIN employee ON call.employee_id = employee.id
GROUP BY
    employee.id,
    employee.first_name,
    employee.last_name
ORDER BY
    employee.id ASC;
    ```

In [ ]:
call = Table()
employee = Table()

'''

'''

nametag = employee.row.fields(['id', 'first_name', 'last_name'])